src/UnitTests/test13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vs="http://schemas.microsoft.com/Visual-Studio-Intellisense">
  <xs:element name="root">    
    <xs:complexType>
      <xs:sequence maxOccurs="2">
        <xs:element name="name" type="xs:string" />
        <xs:element name="last_changed" type="xs:date" nillable="true" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
